@layer theme, base, radix-themes, components, utilities;

@import "tailwindcss" important;
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme {
  --color-*: initial;
  --font-*: initial;
  --shadow-*: initial;
  --text-*: initial;
  --rounded-*: initial;
}

@import "radix-themes-tw";

* {
  @apply border-gray-6;
}

.radix-themes {
  --default-font-family: "Radio Canada Variable", sans-serif;
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

@layer utilities {
  .container2 {
    @apply mx-auto w-full max-w-screen-lg px-5;
  }
}

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}
